In [1]:
import pandas as pd

In [21]:
case_age_df = pd.read_csv('COVID-19_Vaccination_and_Case_Trends_by_Age_Group__United_States.csv')
case_age_df.tail(15)

,Date Administered,AgeGroupVacc,7-day_avg_group_cases_per_100k,Administered_Dose1_pct_agegroup,Series_Complete_Pop_pct_agegroup
2240,2020-12-15T00:00:00,18 - 24 Years,63.406223,NaN,NaN
2241,2020-12-15T00:00:00,25 - 39 Years,61.852698,NaN,NaN
2242,2020-12-15T00:00:00,40 - 49 Years,61.109225,NaN,NaN
2243,2020-12-15T00:00:00,50 - 64 Years,53.634921,NaN,NaN
2244,2020-12-15T00:00:00,65 - 74 Years,37.827642,NaN,NaN
2245,2020-12-15T00:00:00,75+ Years,51.229071,NaN,NaN
2246,2020-12-14T00:00:00,<12 Years,21.358614,NaN,NaN
2247,2020-12-14T00:00:00,12 - 15 Years,36.859964,NaN,NaN
2248,2020-12-14T00:00:00,16 - 17 Years,49.820917,NaN,NaN
2249,2020-12-14T00:00:00,18 - 24 Years,63.918196,NaN,NaN
2250,2020-12-14T00:00:00,25 - 39 Years,62.159403,NaN,NaN
2251,2020-12-14T00:00:00,40 - 49 Years,61.276816,NaN,NaN
2252,2020-12-14T00:00:00,50 - 64 Years,53.619256,NaN,NaN
2253,2020-12-14T00:00:00,65 - 74 Years,37.795407,NaN,NaN
2254,2020-12-14T00:00:00,75+ Years,51.276044,NaN,NaN

In [27]:
Vacc_Trend_df = pd.read_csv('COVID-19_Vaccination_Trends_in_the_United_States_National_and_Jurisdictional.csv')
Vacc_Trend_df.head(10)

,Date,MMWR_week,Location,Administered_Daily,Administered_Cumulative,Administered_7_Day_Rolling_Average,Admin_Dose_1_Daily,Admin_Dose_1_Cumulative,Admin_Dose_1_Day_Rolling_Average,date_type,Administered_daily_change_report,Administered_daily_change_report_7dayroll,Series_Complete_Daily,Series_Complete_Cumulative,Series_Complete_Day_Rolling_Average
0,08/25/2021,34,PR,0,4166373,2816,0,2304866,2133,Admin,0,2817,0,1971402,582
1,08/25/2021,34,VT,0,868224,276,0,480332,139,Admin,0,276,0,426666,104
2,08/25/2021,34,NE,85,2033248,4084,35,1090310,1952,Report,85,4084,103,991876,1782
3,08/25/2021,34,FL,75622,24384379,82565,32771,13683594,36438,Report,75622,82565,34800,11137284,35050
4,08/25/2021,34,WI,0,6394030,5536,0,3398963,2695,Admin,0,5536,0,3131197,2408
5,08/25/2021,34,PA,0,15218928,12596,0,8778889,7067,Admin,0,12596,0,6951049,5189
6,08/25/2021,34,DE,1590,1137714,2195,750,631995,1074,Report,1590,2195,751,532119,906
7,08/25/2021,34,RP,0,28282,64,0,16091,21,Admin,0,65,0,14424,44
8,08/25/2021,34,WV,0,1507134,849,0,837539,327,Admin,0,849,0,703640,175
9,08/25/2021,34,IL,21089,14379712,25412,10231,8193666,12478,Report,21089,25412,9878,6409683,11180

In [28]:
covid_case_df = pd.read_csv('COVID-19_Case_Surveillance_Public_Use_Data.csv')
covid_case_df.head(10)

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2021/03/09,2021/03/12,2021/03/09,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Yes
1,2020/06/24,2020/06/30,NaN,2020/06/24,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,No,Missing
2,2021/07/15,2021/07/15,2021/07/15,NaN,Probable Case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,No,Missing
3,2020/12/14,2020/12/14,2020/12/14,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,Missing,Yes
4,2020/12/08,2020/12/08,NaN,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,No,Missing
5,2021/06/09,2021/06/09,NaN,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,No,Missing
6,2021/03/12,2021/03/13,2021/03/12,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
7,2020/12/30,2020/12/30,2020/12/30,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Unknown,Unknown,No,Unknown
8,2021/04/27,2021/04/27,2021/04/27,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,Unknown
9,2021/02/04,2021/02/07,2021/02/05,2021/02/04,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Unknown,Missing,Missing,Missing

In [32]:
covid_case_death_df = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
covid_case_death_df.tail(10)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
34850,05/17/2020,DC,7123,NaN,NaN,81,0.0,383,NaN,NaN,8,0.0,05/18/2020 04:01:54 PM,NaN,NaN
34851,05/20/2020,DC,7551,NaN,NaN,117,0.0,407,NaN,NaN,7,0.0,05/21/2020 03:41:38 PM,NaN,NaN
34852,07/02/2021,SC,597731,493307.0,104424.0,233,83.0,9848,NaN,NaN,3,0.0,07/02/2021 12:00:00 AM,Agree,Not agree
34853,05/11/2021,LA,463517,NaN,NaN,649,144.0,10451,9503.0,948.0,13,3.0,05/12/2021 02:33:56 PM,Not agree,Agree
34854,04/12/2020,WY,270,NaN,NaN,9,NaN,0,NaN,NaN,0,NaN,04/11/2020 04:22:39 PM,Agree,Agree
34855,07/23/2020,OR,15713,14900.0,813.0,319,6.0,273,269.0,4.0,2,0.0,07/24/2020 02:18:40 PM,Agree,Agree
34856,12/11/2020,AZ,394804,380243.0,14561.0,6986,459.0,7245,6689.0,556.0,91,12.0,12/12/2020 02:59:37 PM,Agree,Agree
34857,08/13/2021,FSM,7,7.0,0.0,0,0.0,0,0.0,0.0,0,0.0,08/14/2021 02:46:52 PM,Agree,Agree
34858,12/15/2020,DC,25339,NaN,NaN,301,0.0,720,NaN,NaN,4,0.0,12/16/2020 02:28:57 PM,NaN,NaN
34859,07/06/2021,OR,209494,209494.0,0.0,117,0.0,2782,2782.0,0.0,1,0.0,07/07/2021 02:48:49 PM,Agree,Agree

In [37]:
covid_case_death_df['submission_date'] = pd.to_datetime(covid_case_death_df.submission_date)

In [39]:
covid_case_death_df.head(10)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2020-02-08,AL,55,47.0,8.0,1,0.0,0,0.0,0.0,0,0.0,02/10/2020 12:00:00 AM,Agree,Agree
1,2021-02-02,IL,1130917,1130917.0,0.0,2304,0.0,21336,19306.0,2030.0,63,16.0,02/03/2021 02:55:58 PM,Agree,Agree
2,2020-07-30,ME,3910,3497.0,413.0,22,2.0,123,122.0,1.0,2,0.0,07/31/2020 02:35:06 PM,Agree,Agree
3,2020-03-29,AL,2634,2532.0,102.0,129,3.0,32,29.0,3.0,5,0.0,03/31/2020 12:00:00 AM,Agree,Agree
4,2020-05-03,NH,2518,NaN,NaN,89,0.0,86,NaN,NaN,2,0.0,05/04/2020 10:49:24 PM,Not agree,Not agree
5,2020-08-11,GU,449,NaN,NaN,15,0.0,5,NaN,NaN,0,0.0,08/12/2020 01:50:14 PM,Not agree,Not agree
6,2020-01-27,MI,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
7,2020-05-15,CT,36085,34059.0,2026.0,621,-11.0,3285,2524.0,761.0,66,8.0,05/16/2020 03:46:44 PM,Agree,Agree
8,2021-05-25,AL,546991,421399.0,125592.0,209,71.0,11309,9016.0,2293.0,7,1.0,05/27/2021 12:00:00 AM,Agree,Agree
9,2021-03-07,NE,203157,NaN,NaN,374,0.0,2113,NaN,NaN,0,0.0,03/09/2021 12:00:00 AM,Not agree,Not agree

In [40]:
covid_case_death_df.sort_values(by='submission_date')

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
22235,2020-01-22,AS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,NaN,NaN
14583,2020-01-22,FL,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
26882,2020-01-22,VT,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
3575,2020-01-22,CT,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
27035,2020-01-22,ME,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3544,2021-08-24,CA,4311959,NaN,NaN,10401,0.0,64694,NaN,NaN,17,0.0,08/25/2021 01:58:33 PM,Not agree,Not agree
3076,2021-08-24,NV,382773,NaN,NaN,1007,0.0,6352,NaN,NaN,46,0.0,08/25/2021 01:58:33 PM,NaN,NaN
21539,2021-08-24,KS,358843,287919.0,70924.0,0,0.0,5498,NaN,NaN,0,0.0,08/25/2021 01:58:33 PM,Agree,NaN
440,2021-08-24,ND,115312,104871.0,10441.0,0,0.0,1553,NaN,NaN,0,0.0,08/25/2021 01:58:33 PM,Agree,Not agree
8615,2021-08-24,VA,747641,571687.0,175954.0,3454,1236.0,11715,9895.0,1820.0,22,4.0,08/25/2021 01:58:33 PM,Agree,Agree